.card {
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
  
  }

  // .card2{
  //   border: 1px solid transparent;
  //   border-radius: 6px;
  //   width: 250px;
  //   margin: 20px;
  // }
  // .card-image img{
  //   width: 249px;
  //   height: 249px;
  //   border-radius: 50%;

  // }

  // .card-title,.description{
  //   text-align: center;
  //   margin: 0;
  //   padding: 10px;
  // }

  // .card-title{
  //   font-weight: bold ;
  //   font-size: 14px;
   
  // }
  // .description{
  //   font-size: 12px;
   
  // }
  